h1 {
    margin: 0;
}

.slider-container {
    max-width: 1100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    /* outline: 5px solid yellow; */
    margin-bottom: 50px;
}

.main-slide {
    width: 60%;
    /* padding: 20px; */
    /* outline: 2px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.main-slide .main-article{
   opacity: 0;
}

.main-slide img{
    max-width: 100%;
    height: auto;
}

.list-slides {
    position: relative;
    height: 750px;
    overflow: hidden;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    outline: 1px solid red;
    
}
.list-slides .article {
    /* margin-top: 0;   */
    /* height: 250px; */
    /* overflow: hidden; */
    /* outline: 1px solid orange;   */
}

.list-slides img{
    display: block;
    max-width: 100%;
    height: auto;
}

.nav {
    position: absolute;
    top: 60%;
}

.nav span {
    cursor: pointer;
    width: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
}



.test {
    pointer-events: none;
}